# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
venv/
.venv/
env/

# Distribution
dist/
build/
*.egg-info/

# Testing & linting
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Logs
*.log

# Env
.env

# SQLite database files
*.db
*.db-shm
*.db-wal
